# Python
__pycache__/
*.py[cod]
*$py.class
.python-version

# Virtual environments
.venv/
venv/
ENV/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo

# Docker
docker-compose.override.yml

# Jupyter
.ipynb_checkpoints/
